.App {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #50104A;
  color: white;
  text-align: center;
}

.header {
  background-color: #39375B;
  white-space: nowrap;
  margin: auto;
  color: white;
}

.insideHeader{
  display: inline-block;
  margin-left: 2em;
  cursor: pointer;
  padding: 1em 2em;
  background-color: #F8C9DB;
  color: black;
  border-radius: 8px;
}

.insideLogo{
  display: inline-block;
}

form {
  font-weight: bold;
}

input {
  margin: 0.3em;
}

.Submit{
  cursor: pointer;
  padding: 1em 2em;
  background-color: #39375B;
  color: white;
  border-radius: 8px;
}

.output{ 
  font-weight: bold;
  font-size: 1.5em;
}

.suggested {
  margin-top: 3em;
  border: solid black;
  margin-left: 20em;
  margin-right: 20em;
}